@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.landing-page{
  width: 100%;
  max-width: 1840px;
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  z-index: -1;

  &:before {
    position: absolute;
    top:0;
    left:0;
    content: "";
    background-image: linear-gradient(147deg, #ffffff, #f0f0f0);
    z-index: 1;
    width: 100%;
    height: 550px;
  }
}

.landing-header {
  position: relative;
  z-index: 2;

  .logo {
    width: 100px;
    height: 78px;
    margin: 15px 0px 0px 250px;
  }

  .links {
    margin-top: 40px ;
    float: right;
    text-decoration: none;
    font-family: 'Times-Roman';
    font-size: 14px;

    a {
      text-decoration: none;
    }

    .register-link {
      position: relative;
      padding: 5px 15px 5px 15px;
      border: 1px solid #7200da;
      color: #000000;
      text-decoration: none;

      &:hover, &:focus {
        outline: transparent;
      }
    }

    .login-link {
      position: relative;
      margin: 0px 100px 0px 40px;
      padding: 5px 25px 5px 25px;
      border: 1px solid #7200da;
      color: #000000;
      text-decoration: none;

      &:hover, &:focus {
        outline: transparent;
      }
    }
  }
}

.section {
  overflow: hidden;
}

.slogan {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .slogan-text {
    margin: 80px 0px 0px 220px;
    padding: 7px;
    width: 300px;

    h3 {
      font-family: "Times", sans-serif;;
      text-align: left;
      color: #000000;
      font-size: 30px;
    }

    p {
      width: 260px;
      font-family: 'Lato', sans-serif;;
      font-size: 16px;
      text-align: left;
      color: #000000;
    }
  }

  .line {
    height: 2px;
    width: 40px;
    margin: 20px 0px 20px 0px;
    border-radius: 100px;
    border: 1px solid #000000;
    background-color: #000000;
  }

  .application-icon {
    margin: 50px 0px 0px 220px;
    width: 300px; 
    
    a {
      text-decoration: none;
      margin: 0px 10px 0px 0px;
    
      &:hover, &:focus {
        outline: transparent;
      }
    }

    img {
      width: 100px;
      height: 35px;
    }
  }

  .device-splash {
    margin: 0px 0px 0px 180px;
    width: 330px;
    height: 590px;
  }
  
  h3 {
    width: 230px;
    line-height: 35px;
  }
}

.features {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;

  .line {
    height: 2px;
    width: 40px;
    margin: 20px 0px 20px 0px;
    border-radius: 100px;
    border: 1px solid #000000;
    background-color: #000000;
  }

  .features-left {
    float: right; 

    .device-task-detail {
      img{
        width: 350px;
        height: 420px;
        overflow: hidden;
      }
    }

    .task-detail-text {
      margin: 20px 0px 0px 0px;

      p {
        font-family: 'Lato', sans-serif;;
        font-size: 16px;
        text-align: left;
        color: #000000;
      }
    }
  }

  .features-right {
    float: left;

    .task-list-text {

      p {
        font-family: 'Lato', sans-serif;;
        font-size: 16px;
        text-align: left;
        color: #000000;
      }
    }

    .device-task-list {
      margin: 10px 80px 0px 0px;

      img {
        width: 330px;
        height: 350px;
        overflow: hidden;
      }
    }
  }

  h3 {
    line-height: 35px;
    font-family: "Times", sans-serif;;
    text-align: left;
    color: #000000;
    font-size: 30px;

    span {
      position: relative;

      .specific-point {
        position: absolute;
        top: 15px;
        left: 0px;
        width: 200px;
        height: 10px;
        border: 1px solid #f8e81c;
        background-color: #f8e81c;
        z-index: -1;
      }
    }
  }

  p {
    width: 350px;
  }
}

.form-contact {
  width: 100%;
  height: 100%;
  position: relative;
  top: 80px;
  left: 20%;
  z-index: 2;

  .location-icon {
    width: 64px;
    height: 64px;
    margin: 0px 40px 0px 0px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(95, 92, 92, 0.5);

    i {
      font-size: 40px;
      margin: 13px 0px 0px 12px;
    }
  }

  h3 {
    margin: -50px 0px 0px 80px;
    line-height: 35px;
    font-family: "Times", sans-serif;;
    text-align: left;
    color: #000000;
    font-size: 30px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 30px 0px 10px 0px;
    color: #9b9b9b;
  }

  input {
    width: 60%;
    margin: 10px 0px 10px 0px;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;

    &:focus {
      outline: transparent;
    }
  }

  textarea {
    width: 80%;
    height: 100px;
    margin: 0px 10px 0px 0px;
    float: left;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    resize: none;

    &:focus {
      outline: transparent;
    }
  }

  .lastname-text {
    margin-left: -130px;
  }

  .last_name {
    margin-left: -130px;
  }

  .email {
    width: 96%;
  }

  .landingButton {
    margin-top: 140px;
    margin-left: -25px;
    border: 1px solid #000000;
    background-color: transparent;
    padding: 5px;
  }

 #last_name_feedback {
    margin: 0px 0px 0px -150px; 
  }

  #message_feedback {
    margin: 115px 0px 0px 0px;
  }

  .has-error {
    border: solid 1px #c82b2b;
  }

  .input-feedback {
    color: #c82b2b;
  }
}

.landing-footer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  left: 25%;
  z-index: 2;

  p {
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #000000;
  }

  span {
    font-weight: normal;
    color: #4a4a6a;
  }

  .landing-footer-date {
    margin: 0px 0px 0px 60px;
    color: #bd10e0;
  }

  .landing-footer-copyright {
    margin: 0px 0px 0px 3px;
    font-size: 14px;
    color: #bd10e0;
  }
}

._1sfQtb1VI_mhiaP2luSXxK {
  position: absolute;
  top: 45%;
  right: 100px;

  li {
    width: 16px;
    height: 16px;
    border: 1px solid #979797;
    border-radius: 50%;
    margin: 7px;
    padding: 1px 0px 0px 1px;

    a {
      text-decoration: none;
      width: 12px;
      height: 12px;
      padding: 0px;
      
      &._1hkNT3QcZAW61gVQtGh27Q {
        background-color: #7200da;
        border: 1px solid #7200da;
        border-radius: 50%;
      }

      &:focus {
        outline: transparent;
      }

      &:before {
        content: "";
        position:relative;
        border: none;
        display: none;
        outline: transparent;
        width: 0px;
        height: 0px;
      }
    }
  }

  &:before {
    content: "";
    width: 2px;
    height: 120px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    margin: 0px 0px 0px 13px;
    padding-top: 100px;
  }

  &:after {
    content: "";
    width: 2px;
    height: 120px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    margin: 0px 0px 0px 13px;
    padding-bottom: 100px;
  }
}

@media (max-width: 557px) {
  .landing-page {
    &:before{
      content:"";
      height: 350px;
    }
  }
  
  .landing-header {
    .logo {
      width: 80px;
      height: 60px;
      margin: 20px 0px 0px 20px;
    }

    .links {
      a {
        float: left;
      }

      .register-link {
        padding: 5px 5px 5px 5px;
      }

      .login-link {
        padding: 5px 10px 5px 10px;
        margin: 0px 20px 0px 10px;
      }
    }
  }

  .slogan {
    .slogan-text {
      margin: 70px 0px 0px 0px;
      width: 130px;
      
      h3 {
        font-size: 20px;
      }

      .line {
        margin: 10px 0px 10px 0px
      }

      p {
        width: 150px;
        font-size: 12px;
      }
    }

    .application-icon {
      margin: 0px 0px 0px 10px;
      width: 200px;

      img {
        width: 70px;
        height: 25px; 
      }
    }

    .device-splash {
      margin: -250px 0px 0px 135px;
      width: 180px;
      height: 320px;
    }
  }

  .features {
    .task-text {
      width: 90%;

      h3 {
        margin: 0px 0px 0px 20px;
      }

      .line {
        margin: 20px 0px 20px 20px;
      }

      p {
        margin: 10px 0px 0px 20px;
        width: 90%;
      }

    }
  }

  .form-contact {
    position: relative;
    top: 15px;
    left: 10px;

    .location-icon {
      width: 40px;
      height: 40px;

      i {
        font-size: 20px;
        margin: 12px 0px 0px 11px;
      }
    }

    h3 {
      margin: -35px 0px 0px 60px;
      font-size: 25px;
    }

    p {
      margin: 5px 0px 10px 0px;
    }
 
    input {
      width: 85%;
      margin: -20px 0px 0px 0px;
    }

    .lastname-text {
      margin-left: 0px;
    }

    .last_name {
      margin-left: 0px;
    }
    
    .email {
      width: 85%;
    }

    textarea {
      width: 85%;
      margin: -10px 0px 0px 0px;
    }

    .landingButton {
      width: 85%;
      margin: 15px 0px 0px 0px;
    }

    #last_name_feedback {
      margin: 0px 0px 0px 0px; 
    }


    #message_feedback {
      margin: 100px 0px 0px 0px;
    }

    .landing-footer {
      position: relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0px 0px 0px 85px;

      p {
        font-size: 12px;
      }
    }
  }


  ._1sfQtb1VI_mhiaP2luSXxK {
    position:absolute;
    right: 0px;
  }
}


@media (min-width: 560px) and (max-width: 770px) {
  .landing-page {
    &:before{
      content:"";
      height: 450px;
    }
  }

  .landing-header {
    .logo {
      margin: 15px 0px 0px 10px;
    }

    .links {
      a{
        text-decoration: none;
      }

      .login-link {
        margin: 0px 130px 0px 30px;
      }
    }
  }

  .slogan {
    .slogan-text {
      margin: 60px 0px 0px 10px;
    }
    
    .application-icon {
      margin: 30px 0px 0px 10px;  
    }

    .device-splash {
      margin: -30px 0px 0px -130px;
      width: 310px;
      height: 540px;
    }
  }

  .features {
    margin: 15px 0px 0px 0px;

    .features-left {
      .task-detail-text {
        p{
         font-size: 14px;
        }
      }

      .device-task-detail {
        img {
          width: 260px;
          height: 310px;
        }
      } 
    }

   .features-right {
      .device-task-list {
        margin-bottom: 20px;

        img {
          width: 230px;
          height: 270px;
        }
      }

      .task-list-text {
        margin-top: -25px; 

        p {
          font-size: 14px;
        }
      }
    }

    p {
      width: 250px;
    }
  }

  .form-contact {
    margin: -70px 0px 0px -60px;

    p {
      margin: 20px 0px -5px 0px;
    }

    .message-text {
      margin: 17px 0px 5px 0px;
    }

    .landingButton {
      margin-top: 125px;
    }

    .landing-footer {
      position: relative;
      top: 20px;
      left: 200px;
    }
  }

  ._1sfQtb1VI_mhiaP2luSXxK {
    position:absolute;
    right: 50px;
  }
}

@media (min-width: 770px) and (max-width: 1030px) {
  .slogan {
    .slogan-text {
      margin: 60px 0px 0px 210px;
    }

    .device-splash {
      margin: 0px 0px 0px 180px;
    }
  }

  .form-contact {
    left: 150px;
  }
}

@media (min-width: 1030px) {
  .landing-header {
    .links {
      .login-link {
        margin: 0px 180px 0px 50px;
      }
    }
  }

  .slogan {
    .slogan-text {
      margin: 120px 0px 0px 220px;
    }

    .device-splash {
       margin: 20px 0px 0px 150px;
    }
  }

  .form-contact {
    margin: 10px 0px 0px 0px;

    input {
      width: 70%;
    }

    .lastname-text {
      margin-left: -65px;
    }

    .last_name {
      margin-left: -65px; 
    }

    .email {
      width: 78%;
    }

    textarea {
      width: 90%;
    }

    .landingButton {
      margin-left: 60px;
    }
  }
}
