@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.tasklist-page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: #f5f5f5;

  .hh {
    background-color: red;
  }

  .user {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    .user-photo {
      width: 140px;
      height: 140px;
      border: 5px solid #d4a5ff;
      border-radius: 50%;

      img {
        display: inline-block;
        overflow: hidden;
        width: 130px;
        height: 130px;
      }
    }
  }

  .tasklist-table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0px 30px 0px;
    width: 600px;
    height: 75%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);

    &__header {
      padding: 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(208, 168, 243, .23);

      .user-name {
        margin-top: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #000000;
      }
    }

    &__content {
      .row {
        .col-xs-12>div {
          div:nth-child(3) {
            border: 1px solid #d8d8d8; 
          }
        }
      }

      .icon-close {
        float: right;
        margin: 15px 20px 0px 0px;
        padding: 0px;
        border-radius: 50%;
        background-color: #d0021b;
        color: #ffffff;
      }

      .medicine {
        position: relative;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        width: 450px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5), 0 2px 4px 0 rgba(216, 216, 216, 0.5);
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgba(155, 155, 155, .5);

        p {
          float: left;
          margin: 15px 0px 0px 20px;  
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: #fb684b;
        }
      }

      .homework {
        position: relative;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
        width: 450px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5), 0 2px 4px 0 rgba(216, 216, 216, 0.5);
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgba(254, 166, 35, .5);

        p {
          float: left;
          margin: 15px 0px 0px 20px;  
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: #fb684b;
        }
      }

      .meeting {
        position: relative;
        top: 15px;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        margin-bottom: 20px;
        width: 450px;
        height: 50px;
        box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5), 0 2px 4px 0 rgba(216, 216, 216, 0.5);
        border-bottom-width: 5px !important;
        border-bottom-style: solid !important;
        border-bottom-color: rgba(126, 211, 33, .5) !important;

        p {
          float: left;
          margin: 15px 0px 0px 20px;  
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: #fb684b;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .tasklist-page{
    .user {
      .user-photo {
        width: 110px;
        height: 110px;

        img {
          width: 100px;
          height: 100px;
        }
      }
    }

    .tasklist-table {
      width: 90%;

      &__content {
        .medicine, .homework, .meeting {
          width: 90%;
        }
      }
    }
  }
}