* {padding: 0; margin:0; box-sizing: border-box;}

#reminder-create-form {
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);

  .reminder-datetime {
    width: 95%;
  }

  .reminder-datetime-input {
    outline: none;
    background: transparent;
    border: 1px solid #fb684b;
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
    width: 80%;
    height: 30px;
    font-family: OpenSans;
    font-size: 20px;
  }

  .reminder-create-button {
    border: 0;
    outline: transparent;
    float: right;
    margin-top: -30px;
    z-index: 2;
  }

  .input-feedback {
    padding: 0px 0px 0px 20px;
    color: #c82b2b;
  }
}


@media (max-width: 560px) {
  #reminder-create-form {
    .reminder-datetime-input {
      font-size: 15px;
    }
  }
}
