* {padding: 0; margin:0; box-sizing: border-box;}

.logout-button {
  display: block;
  text-decoration: none;

  .icon-logout {
    color: #ffffff;
  }

  &:hover, &:focus, &:active, &:focus:active, &:hover:active {
    text-decoration: none;
    outline: transparent;
  }
}
