* {padding: 0; margin:0; box-sizing: border-box;}


.logo {
  width: 100px;
  height: 80px;
}

@media (max-width: 770px) {
  .logo {
    margin: 25px 20px 0px 10px;
    width: 80px;
    height: 70px;
  }
}
