* {padding: 0; margin:0; box-sizing: border-box;}

.login-button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  background-color: Transparent;
  background-repeat:no-repeat;
  outline:none;
  color: #ffffff;
}
