* {padding: 0; margin:0; box-sizing: border-box;}

.task-info {
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5), 0 2px 4px 0 rgba(216, 216, 216, 0.5);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgba(155, 155, 155, .5);

  p {
    float: left;
    margin: 15px 0px 0px 20px;  
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fb684b;
  }
}

.empty-task {
  border-bottom-color: rgba(155, 155, 155, .5);
}

.normal-task {
  border-bottom-color: rgba(254, 166, 35, .5);
}

.completed-task {
  border-bottom-width: 5px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgba(126, 211, 33, .5) !important;
}
