* {padding: 0; margin:0; box-sizing: border-box;}

.header {
  width: 100%;
  height: 130px;
  background-image: linear-gradient(100deg, #ab00ef, #7200da);

  .header-icons {
    float: right;
    color: #ffffff;
    padding-right: 10px;

    .icon-settings {
      margin: 50px 0px 0px 35px;
    }

    .icon-logout {
      margin: -23px 0px 0px 75px;
    }

    .line {
      width: 1px;
      height: 30px;
      background-color: #ffffff;
      margin: -25px 0px 0px 65px;
    }

    .login-button {
      margin: 50px 40px 0px 0px;
    }
  }
}

@media (max-width: 560px) {
  .header {
    .logo {
      margin: 25px 20px 0px 10px;
      width: 80px;
      height: 70px;
    }
  
    .header-icons {

      .icon-logout {
        margin: -23px 10px 0px 75px;
      }
    }
  }
}
