* {padding: 0; margin:0; box-sizing: border-box;}

.delete-image-button {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #d0021b;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: bold;
  color: #d0021b;
  outline: transparent;
  background-color: #ffffff;
}
