@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.icon-close {
  float: right;
  margin: 15px 20px 0px 0px;
  padding: 1px 1px 1px 1px;
  border-radius: 50%;
  background-color: #d0021b;
  color: #ffffff;
}
